/vendor/
/node_modules/
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.production
.env.stage
.env.dusk.*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.phpunit.cache
/build
.DS_Store
